
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}


body {
    background-color: #e0f4fe; 
    color: black; 
    line-height: 1.6;
}



form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    
}

form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: black;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form input:focus, form select:focus {
    border-color: #66bfff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #66bfff;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}


form br {
    display: none; 
}


form .error {
    color: red;
    font-size: 0.875rem;
    margin-bottom: 10px;
}


h2 {
    text-align: center; 
    margin-top: 20px; 
    font-size: 24px; 
    color: black;
}
