
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}

body {
    background-color: #e0f4fe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #081F5C;
}

.login-container {
    background: #FFFFFF;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #081F5C;
    font-weight: bold;
}

.input-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-container input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #D0E3FF;
    border-radius: 8px;
    outline: none;
    background: #F9FCFF;
    transition: border-color 0.3s, background-color 0.3s;
}

.input-container input:focus {
    border-color: #7096D1;
    background-color: #E7F1FF;
}

.input-container label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #888;
    transition: all 0.3s;
    pointer-events: none;
    background: #FFFFFF;
    padding: 0 5px;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 0.8rem;
    color: #334EAC;
}

button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #334EAC;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #7096D1;
    transform: scale(1.03);
}

button:active {
    background-color: #081F5C;
}




.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 300px; 
    height: auto;
}

.error-container {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
