* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}


body {
    background-color: #e0f4fe; 
    color: #081F5C;
    line-height: 1.6;
}




.vehicle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.vehicle-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    margin-top: 1%;
}

.vehicle-card:hover {
    transform: scale(1.05);
}

.vehicle-card h3 {
    color: black;;
    margin-bottom: 10px;
}

.vehicle-card p {
    margin: 5px 0;
    color: black;;
}

.vehicle-card .status {
    font-weight: bold;
}


.vehicle-card.entrega {
    background-color:#4ECDC4 ; /* Rojo coral fuerte, opuesto al verde menta */
}

.vehicle-card.recogida {
    background-color: #FF6B6B; /* Rojo coral vibrante */
}

.vehicle-card.en-proceso {
    background-color: #bfdbfe;
}



.vehicle-card.en-entrega {
    background-color: #bfdbfe; 
}

.vehicle-card.en-recogida {
    background-color: #ffc107; 
}


.vehicle-card.entregado {
    background-color: #4caf50; 
}

.vehicle-card.recogido {
    background-color: #00bfff; 
}


.vehicle-details {
    margin-top: 15px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}





.search-container {
    position: relative;
    width: 80%; 
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 1%;
}


.search-container input {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #66bfff;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}


.search-container input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 91, 179, 0.4);
}


.search-container input::placeholder {
    color: #888;
    font-style: italic;
}











.vehiculos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.column {
    flex: 1;
}


/* Tarjeta del vehículo */
.vehicle-card {
    background: #e0f2f1;
    border-radius: 16px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 355px;
    padding: 0px;
    text-align: center;

}
.vehicle-card h1{
    color: black;
}

/* Imagen y título */
.card-header {
    text-align: center;
}

.card-image img {
    width: 100%;
}

/* Línea separadora horizontal */
.separator {
    width: 100%;
    height: 1px;

    margin: 6px 0;
}

/* Sección de información dividida en dos columnas */
.vehicle-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.nombre {
    font-size: 10.4px; /* Letra más pequeña */
}


.column {
    flex: 1;
}





.left-section,
.right-section {
    width: 50%;
    padding: 6px;
}

p {
    color: #333;
    font-size: 12px;
    margin: 3px 0;
}







.edit-btn {
    margin-top: 10px;
    background-color: #4fb1fc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilos del Modal */
.vehicle-modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    z-index: 1000; /* Aparece sobre el contenido */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

/* Estilo del contenido del modal */
.vehicle-details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto;
}

/* Lista de detalles */
.vehicle-details ul {
    list-style-type: none;
    padding: 0;
}

.vehicle-details li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.vehicle-details li:last-child {
    border-bottom: none;
}

.vehicle-details strong {
    color: black;
}

/* Botón de cerrar el modal */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #cc0000;
}


/* Estilo del botón "Ver detalles" */
.view-details-btn {
    display: inline-block;
    color: white; /* Cambié el color del texto a blanco */
    padding: 6px 28px; /* Aumenté el tamaño del botón para que sea más visible */
    font-size: 16px;
    border: 2px solid #4fb1fc; /* Añadí un borde sutil de color que combine con tu logo */
    border-radius: 8px; /* Esquinas más redondeadas */
    background-color: #4fb1fc; /* Fondo de color que combine con el logo */
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* Agregado para indicar que es interactivo */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Añadí transición para sombra */
}

/* Efecto hover para el botón "Ver detalles" */
.view-details-btn:hover {
    background-color: #66bfff; /* Color más claro al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Agregué sombra al pasar el mouse */
}

/* Efecto active para el botón "Ver detalles" */
.view-details-btn:active {
    background-color: #0056b3; /* Color más oscuro al hacer clic */
    transform: scale(1); /* Efecto de click */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Menos sombra al hacer clic */
}











.edit-btn {
    display: inline-block;
    color: white; /* Cambié el color del texto a blanco */
    padding: 3px 45px; /* Aumenté el tamaño del botón para que sea más visible */
    font-size: 16px;
    border: 2px solid #4fb1fc; /* Añadí un borde sutil de color que combine con tu logo */
    border-radius: 8px; /* Esquinas más redondeadas */
    background-color: #4fb1fc; /* Fondo de color que combine con el logo */
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* Agregado para indicar que es interactivo */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Añadí transición para sombra */
}

.edit-btn:hover {
    background-color: #66bfff; /* Color más claro al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Agregué sombra al pasar el mouse */
}

.edit-btn:active {
    background-color: #0056b3; /* Color más oscuro al hacer clic */
    transform: scale(1); /* Efecto de click */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Menos sombra al hacer clic */
}



.container {

    justify-content: center; 
    align-items: center; 

}

@media (min-width: 768px) {
    .container {
        display: flex;

    }
}
@media (max-width: 768px) {
    .container {
        justify-content: center; 
        align-items: center; 

    }
}