<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reporte.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='IMG/IMG_5217.PNG') }}">
    <title>Reporte de Transportadores</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='IMG/IMG_5217.PNG') }}" alt="Logo">
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('admin_dashboard') }}" class="users-btn">Usuarios</a></li>
            <li><a href="{{ url_for('create_user') }}" class="users-btn">Crear Usuarios</a></li>            
            <li><a href="{{ url_for('create_vehicle') }}" class="vehicles-btn">Crear Vehículos</a></li>
            <li><a href="{{ url_for('ver_vehiculos') }}" class="assignments-btn">Ver todos los vehículos</a></li>
            <li><a href="{{ url_for('peritajes') }}" class="users-btn">Peritaje</a></li>
            <li><a href="{{ url_for('reporte_transportadores') }}" class="reports-btn">Reportes de los transportadores</a></li>
            <li><a href="{{ url_for('Ganancias') }}" class="reports-btn">Ganancias</a></li>
            <li><a href="{{ url_for('logout') }}" class="logout-btn">Salir de la cuenta</a></li>
        </ul>
    </nav>

    <h1>Reporte de Transportadores</h1>
    <table>
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Correo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for transportador in transportadores %}
            <tr>

                <td>{{ transportador[1] }}</td>
                <td>{{ transportador[2] }}</td>
                <td>
                    <a href="{{ url_for('reporte_transportador', transportador_id=transportador[0]) }}">
                        Ver Reporte
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    


</body>
<script src="{{ url_for('static', filename='Js/navbar.js') }}"></script>
</html>
